<div id="contact-container">
      
   <div id="contact-text">
       <h1>Kontakta oss</h1>
       <p><strong>Har du frågor eller funderingar är du varmt välkommen att kontakta oss via 
        e-post eller telefon, alternativt kom förbi administrationen när du är på plats.
        Vi sitter i B-huset på första våningen.
       </strong> <br>
         <br>
         </p>
         </div>
         <div id="open">
          <h3>Vi finns på plats under dessa timmar:</h3>
         <p>
         <strong>Vardagar:</strong> 08:00 - 17:00<br>
         <strong>Lördag:</strong> 10:00 - 15:30<br>
         <strong>Söndag:</strong> 12:00 - 16:00 
       </p>
         <p>
         <strong>E-post:</strong> bjorksadmin&#64;hittepa.se<br>
         <strong>Telefon:</strong> 012 - 123 456</p>
         
         
    </div>
   </div>
       
   