<div id="contact-container">
      
   <div id="contact-text">
       <h1>Kontakta oss</h1>
       <p><strong>Har du frågor eller funderingar är du varmt välkommen att kontakta oss via 
        e-post eller telefon, alternativt kom förbi administrationen när du är på plats.
        Vi sitter i B-huset på första våningen.
       </strong> <br>
         <br>
         </p>
         </div>
         <div id="open">
         <p>
         <strong>E-post:</strong> bjorksadminathittepa.se<br>
         <strong>Telefon:</strong> 012 - 123 456<br>
         <br>
         Våra öppettider: <br>
         <strong>Måndag - fredag:</strong> 08:00 - 17:00
       </p>
    </div>
   </div>
       
   