<div id="ramschema-container">
<h1>Ramschema</h1>
<p>Nedan ser du de kurser du lagt till i ditt ramschema samt 
    den totala poängen för alla kurser sammanlagt.
</p>
<div id="courses">
<table>
    <thead>
        <tr>
            <th>Kurskod</th>
            <th>Kursnamn</th>
            <th>Poäng</th>
            <th>Ämne</th>
            <th>Kursplan</th>
            <th>Ta bort</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of selectedCourses">
            <td>{{ course.courseCode }}</td>
            <td>{{ course.courseName }}</td>
            <td>{{ course.points }}</td>
            <td>{{ course.subject }}</td>
            <td><a href="{{ course.syllabus }}" target="_blank">Kursplan</a></td>
            <td><button (click)="removeCourse(course)">Ta bort</button></td>
        </tr>
    </tbody>
</table>
</div>


<div class="total-points">
    <p *ngIf="totalPoints > 0">Total poäng: {{ totalPoints }}</p>
</div>
</div>