<div id="student-union">
    <img class="studentunion" [src]="studentUnion" alt="Studenter och en hund sitter på ett räcke">
    <div id="union-welcome">
        <h1>Studentkåren</h1>
        <p>Tycker du om att vara med och planera roliga aktiviteter, hjälpa till med studiestöd 
            och bidra till att studentlivet blir en minnesvärd upplevelse? 
            Då är du säkerligen intresserad av att gå med i studentkåren! 
        </p>
    </div>
    <div id="heading"> <h1>Studentkåren</h1> </div>
    
<div id="header-links">
    <ul>
        <li id="school"><a routerLink="/courses">Utbildning</a></li>
        <li id="students"><a routerLink="/student-union">Studentkåren</a></li>
        <li id="campus"><a routerLink="/campus">Campus</a></li>
        <li id="contact"><a routerLink="/contact">Kontakta oss</a></li>
    </ul>
</div>

<div id="union-text">
    <h1>Vad gör studentkåren?</h1>
    <p><strong>I studentkåren blandar vi böcker och föreläsningar med roliga tema-fester, 
        studiestöd och massa andra typer av aktivteter. Vi är som en stor familj där alla 
        är välkomna, både nya och erfarna studenter.</strong> <br>
        <br>
        Vårt mål är att göra ditt studentliv minnesvärt och få dig att känna dig inkluderad 
        under din tid på Björks. Vi organiserar allt från roliga tävlingar som "Vem kan bygga 
        den högsta tårtan utan att använda händerna?" till fantastiska resor där vi utforskar 
        världen tillsammans. <br>
        <br>
        Kom gärna förbi och säg hej när du har möjlighet, vårt rum ligger på andra våningen 
        i D-huset. Hittar du oss inte där kan du slänga iväg ett mail till studentkaren&#64;bjorkshittepa.se, 
        så kan vi stämma av en tid och plats för att träffas. <br>
        <br>
        Om du känner dig redo att kasta dig in i en värld av skratt, vänskap och 
        oförglömliga äventyr, då är studentkåren rätt plats för dig!<br>
        <br>
          
    </p>
</div>
    </div>
