<div id="student-union">
    <img class="studentunion" [src]="studentUnion" alt="Studenter och en hund sitter på ett räcke">
    <div id="union-welcome">
    <h1>Studentkåren</h1>
    <p>Välkommen till studentkåren, där vi blandar studier med stunder av 
        roliga aktiviteter och äventyr! På campus är vi som en färgglad mix av kunskap, 
        kreativitet och lite tokgiheter - precis som det ska vara!
    </p>
</div>
<div id="header-links">
    <ul>
        <li id="school"><a routerLink="/courses">Utbildning <i class="fa-solid fa-arrow-right"></i></a></li>
        <li id="students"><a routerLink="/student-union">Studentkåren <i class="fa-solid fa-arrow-right"></i></a></li>
        <li id="campus"><a routerLink="/campus">Campus <i class="fa-solid fa-arrow-right"></i></a></li>
        <li id="contact"><a routerLink="/contact">Kontakta oss <i class="fa-solid fa-arrow-right"></i></a></li>
    </ul>
</div>

<div id="union-text">
    <h1>Vad gör studentkåren?</h1>
    <p><strong>I studentkåren blandar vi böcker och föreläsningar med roliga tema-fester, 
        studiestöd och massa andra typer av aktivteter. Vi är som en stor familj där alla 
        är välkomna, både nya och erfarna studenter.</strong> <br>
        <br>
        Vårt mål är att göra ditt studentliv minnesvärt och få dig att känna dig inkluderad 
        under din tid på Björks. Vi organiserar allt från roliga tävlingar som "Vem kan bygga 
        den högsta tårtan utan att använda händerna?" till fantastiska resor där vi utforskar 
        världen tillsammans. <br>
        <br>
        Kom gärna förbi och säg hej när du har möjlighet, vårt rum ligger på andra våningen 
        i D-huset. Hittar du oss inte där kan du slänga iväg ett mail till studentkaren_at_bjorkshittepa.se, 
        så kan vi stämma av en tid och plats för att träffas. <br>
        <br>
        Om du känner dig redo att kasta dig in i en värld av skratt, vänskap och 
        oförglömliga äventyr, då är studentkåren rätt plats för dig!<br>
        <br>
          
    </p>
</div>
    </div>
