#student-union {
    position: relative;

    #union-welcome {
        position: absolute;
        width: 60%;
        top: 25%;
        left: 33%;
        padding: 15px 25px;
        transform: translate(-50%, -50%);
        z-index: 1;
        color: rgb(255, 255, 255);
    }

    #union-welcome h1 {
        font-size: 38px;  
    }
    #union-welcome p {
        max-width: 90ch;
        font-size: 22px;
        line-height: 1.4em;
    }

    #union-welcome h1 {
        font-size: 38px;  
    }
    img {
        padding: 0;
        width: 100%;
        height: auto;
        position: relative;
    }
}

#header-links {
    width: 80%;
    margin: 3% auto;
    display: table; // Använder tabell-layout

    ul {
        display: table-row; // Varje ul blir en rad
        margin: 0;
    }

    ul li {
        display: table-cell; // Varje li blir en cell
        padding: 5px 25px;
    }

    ul a {
        display: block;
        letter-spacing: 0.2rem;
        text-decoration: none;
        padding: 8px 15px;
        font-size: 22px;
        color: #000;
        text-align: center;
    }
}

#school a {
    background-color: white; 
    border-top: 12px solid #D7B17C;
    border-bottom: 1px solid #2A4765;
    border-left: 1px solid #2A4765;
    border-right: 1px solid #2A4765;
    
    &:hover {
        background-color: #D7B17C;
    }
    }
    
    #students a {
    background-color: white; 
    border-top: 12px solid #73A790;
    border-bottom: 1px solid #2A4765;
    border-left: 1px solid #2A4765;
    border-right: 1px solid #2A4765;
    
    &:hover {
        background-color: #73A790;
    }
    }
    
    #campus a {
    background-color: white; 
    border-top: 12px solid #EABAB9;
    border-bottom: 1px solid #2A4765;
    border-left: 1px solid #2A4765;
    border-right: 1px solid #2A4765;
    
    &:hover {
        background-color: #EABAB9;
    }
    }
    
    #contact a {
    background-color: white; 
    border-top: 12px solid #2A4765;
    border-bottom: 1px solid #2A4765;
    border-left: 1px solid #2A4765;
    border-right: 1px solid #2A4765;
    
    &:hover {
        background-color: #2A4765;
    }
    }
    
    #union-text {
        width: 60%;
        margin: 0 auto;
        line-height: 1.8em;

        h1 {
            font-size: 36px;
        }

        p {
            font-size: 18px;
        }
    }

// Media queries 

@media only screen and (max-width: 600px) {


    #union-welcome {
        display: none;
    }

    img {
        width: 100%; 
        position: static; /* Återställ position till standard */
    }

    #header-links ul li {
        display: block; /* Ändra display till block för att få länkarna på egen rad */
        padding: 5px 0; 
    }

    #header-links ul a {
        font-size: 18px;
        text-align: center;
    }

    #union-text {
        display: block;
        width: 80%;
        margin: 10% auto;
    }

}

@media only screen and (min-width: 601px) and (max-width: 900px){


    #union-welcome  {
        display: none;
    }

    #header-links ul li {
        display: block;
        padding: 5px 0;
    }

    #header-links ul a {
        font-size: 18px;
        letter-spacing: 0;
    }
    #union-text {
        display: block;
        width: 80%;
        margin: 10% auto;
    }
    
}
