<!-- Header med huvudmeny, Angular Routing  -->
<header>
    <a id="logotyp" routerLink="/home">
        <h1>Björks Universitet</h1>
    </a>

    <nav>
        <ul>
            <li><a routerLink="/">Björks</a></li>
            <li><a routerLink="/courses">Kurser</a></li>
            <li><a routerLink="/ramschema">Ramschema</a></li>
        </ul>
    </nav>
</header>
<div id="header-content">
<img id="headerimg" [src]="headerImage" alt="Fyra studenter som skrattar i ett rum">

<div id="header-text">
    <h2>Välkommen till Björks Universitet</h2>
    <p>Vi har ett bred utbud av kurser och program, vad väljer du?</p>
</div>

</div>