<!-- Header med huvudmeny, Angular Routing  -->
<header>
    <a id="logotyp" routerLink="/home">
        <h1>Björks Universitet</h1>
    </a>

    <nav>
        <ul>
            <li><a routerLink="/">Björks</a></li>
            <li><a routerLink="/courses">Kurser</a></li>
            <li><a routerLink="/ramschema">Ramschema</a></li>
        </ul>
    </nav>
</header>
<div id="header-content">
<img id="headerimg" [src]="headerImage" alt="Fyra studenter som skrattar i ett rum">
<div id="header-links">
    <ul>
        <li id="school"><a routerLink="/courses">Utbildning <i class="fa-solid fa-arrow-right"></i></a></li>
        <li id="students"><a routerLink="/">Studentkåren <i class="fa-solid fa-arrow-right"></i></a></li>
        <li id="campus"><a routerLink="/">Campus <i class="fa-solid fa-arrow-right"></i></a></li>
        <li id="contact"><a routerLink="/">Kontakta oss <i class="fa-solid fa-arrow-right"></i></a></li>
    </ul>
</div>
</div>