<div id="header-content">
    <img id="headerimg" [src]="headerImage" alt="Fyra studenter som skrattar i ett rum">
    
    <div id="header-text">
        <h2>Välkommen till Björks Universitet!</h2>
        <p>Vi erbjuder ett stort utbud av kurser, möjlighet att engagera sig i flera olika studentaktiviteter 
            och ta del av de härliga livet på campus.<br>
            Oavsett om du är ny student som kliver in 
            i den spännande världen av högre utbildning eller en erfaren akademiker som vill 
            fördjupa sin kunskaper, så har vi resurserna och stödet för att hjälpa dig att lyckas.<br>
            <br>
            Vi strävar efter att erbjuda en inspirerande och inkluderande lärmiljö där varje
            individ får möjligheten att uppnå sin fulla potential.<br>
            <br>
            Möjligheterna är oändliga och du bestämmer hur långt du vill gå! 
        </p>
    </div>
    
    </div>
<div id="header-links">
    <ul>
        <li id="school"><a routerLink="/courses">Utbildning <i class="fa-solid fa-arrow-right"></i></a></li>
        <li id="students"><a routerLink="/">Studentkåren <i class="fa-solid fa-arrow-right"></i></a></li>
        <li id="campus"><a routerLink="/">Campus <i class="fa-solid fa-arrow-right"></i></a></li>
        <li id="contact"><a routerLink="/">Kontakta oss <i class="fa-solid fa-arrow-right"></i></a></li>
    </ul>
</div>
<div id="container">
<div id="home-container">
    <div class="home-gallery">
        <img class="homeImage" [src]="homeImage1" alt="Tre studenter sitter vid ett bord med varsin laptop">
        <div class="gallery-text">
            <h2>Utbildning</h2>
            <p>Vi är ett av Sveriges största universitet och har därför möjlighet att erbjuda en mängd 
                olika kurser inom ett stort antal ämnen. Bläddra i vår kurslista och hitta din drömkurs idag!
            </p>
        </div>
    </div>

    <div class="home-gallery">
        <img class="homeImage" [src]="homeImage2" alt="En grupp studenter sitter runt ett bord">
        <div class="gallery-text">
            <h2>Studentkåren</h2>
            <p>Tycker du om att vara involverad och engagera studenterna? 
            Gå med i studentkåren och hjälp till att inkludera alla till skolans sammankomster och aktivteter.
            Genom studentkåren finns även möjlighet till studiehjälp och stöttning under din studietid.
        </p></div>
    </div>
    <div class="home-gallery">
        <img class="homeImage" [src]="homeImage3" alt="Campus för ett Universitet">
        <div class="gallery-text">
            <h2>Campus</h2>
            <p>Vårt campus är stort med plats för att studera, ta en fikapaus, utöva aktivteter och massa annat!
            Med närhet till tåg- och busshållsplats, matbutik och Björks Café, är detta en perfekt plats 
            för att mötas upp mellan föreläsningar och lektioner.
        </p></div>
    </div>
    <div class="home-gallery">
        <img class="homeImage" [src]="homeImage4" alt="Campus för ett Universitet">
        <div class="gallery-text">
            <h2>Ramschema</h2>
            <p>Är du sugen på att komponera ihop ett eget ramschema? 
            Det gör du enkelt genom att bläddra bland våra kurser och lägga till de du är intresserad av.
            Under Ramschema i menyn ser du vilka kurser du har lagt till.
        </p></div>
    </div>
</div>
</div>