#header-content {
    position: relative;

    #header-welcome {
        position: absolute;
        width: 60%;
        top: 74%;
        left: 33%;
        padding: 15px 25px;
        transform: translate(-50%, -50%);
        z-index: 1;
        color: rgb(255, 255, 255);
    }

    #header-welcome h2 {
        font-size: 50px;
    }

    img {
        padding: 0;
        width: 100%;
        height: auto;
        position: relative;
    }
}

#header-links {
    width: 80%;
    margin: 3% auto;
    display: table; // Använder tabell-layout

    ul {
        display: table-row; // Varje ul blir en rad
        margin: 0;
    }

    ul li {
        display: table-cell; // Varje li blir en cell
        padding: 5px 25px;
    }

    ul a {
        display: block;
        letter-spacing: 0.2rem;
        text-decoration: none;
        padding: 8px 15px;
        font-size: 22px;
        color: #000;
        text-align: center;
    }
}

#container {
    background-color: #F3F3EC;
}

#home-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 80px auto;
    padding: 20px 5px;
}

.home-gallery {
    flex-basis: calc(50% - 20px);
    padding: 10px 50px;
    width: 50%;
    margin-bottom: 20px;

    .homeImage {
        max-width: 100%;
        height: auto;
    }
}

.homeImage:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#school a {
    background-color: white;
    border-top: 12px solid #D7B17C;
    border-bottom: 1px solid #2A4765;
    border-left: 1px solid #2A4765;
    border-right: 1px solid #2A4765;

    &:hover {
        background-color: #D7B17C;
    }
}

#students a {
    background-color: white;
    border-top: 12px solid #73A790;
    border-bottom: 1px solid #2A4765;
    border-left: 1px solid #2A4765;
    border-right: 1px solid #2A4765;

    &:hover {
        background-color: #73A790;
    }
}

#campus a {
    background-color: white;
    border-top: 12px solid #EABAB9;
    border-bottom: 1px solid #2A4765;
    border-left: 1px solid #2A4765;
    border-right: 1px solid #2A4765;

    &:hover {
        background-color: #EABAB9;
    }
}

#contact a {
    background-color: white;
    border-top: 12px solid #2A4765;
    border-bottom: 1px solid #2A4765;
    border-left: 1px solid #2A4765;
    border-right: 1px solid #2A4765;

    &:hover {
        background-color: #2A4765;
    }
}

// Media queries

@media only screen and (max-width: 600px) {


    #header-welcome {
        position: absolute;
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    #header-welcome h2 {
        font-size: 18px !important;
        padding: 5px 5px;
        white-space: nowrap; 
    }

    img {
        width: 100%;
        position: static;
        /* Återställ position till standard */
    }

    #header-links ul li {
        display: block;
        /* Ändra display till block för att få länkarna på egen rad */
        padding: 5px 0;
    }

    #header-links ul a {
        font-size: 18px;
        letter-spacing: 0;
    }

    #home-container {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .home-gallery {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 5px 5px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px){

    #home-container {
        width: 100%;
    }

    #header-welcome h2 {
        font-size: 24px !important;
    }

    #header-links ul li {
        display: block;
        padding: 5px 0;
    }

    #header-links ul a {
        font-size: 18px;
        letter-spacing: 0;
    }
    img {
        width: 100%;
        position: static;
       
    }
}