<h2>Här är alla kurser</h2>

<p>Leta en kurs i listan..</p>

<div class="filter">
    <label for="filter">Filtrera kurser</label>
    <input type="text" id="filter" [(ngModel)]="filterValue" (input)="applyFilter()">
</div>

<p *ngIf="numberOfCourses === 0">Inga kurser hittades..</p>
<p *ngIf="numberOfCourses > 0">Antal kurser som visas: {{ numberOfCourses }}</p>

<table>
    <thead>
        <tr>
            <th (click)="sortCoursesByCode()">Kurskod</th>
            <th (click)="sortCoursesByName()">Kursnamn</th>
            <th (click)="sortCoursesByPoints()">Poäng</th>
            <th (click)="sortCoursesBySubject()">Ämne</th>
            <th>Kursplan</th>
          </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of filteredCourses">
        <td>{{ course.courseCode }}</td>
        <td>{{ course.courseName }}</td>
        <td>{{ course.points }}</td>
        <td>{{ course.subject }}</td>
        <td><a href="{{ course.syllabus }}">Kursplan</a></td>
      </tr>
    </tbody>
  </table>