<div id="campus-container">
    <img class="campusImage" [ngSrc]="campusImage" width="1600" height="680" alt="En student sitter på en bänk">
    <div id="campus-welcome">
    <h1>Campus</h1>
    <p>Vårt campus är något av de mest uppskattade sakerna med att gå på Björks.
        Bland de grönskande träden och blommorna finns bänkar, café och plats för alla möjliga aktiviteter.
    </p>
</div>
<div id="header-links">
    <ul>
        <li id="school"><a routerLink="/courses">Utbildning</a></li>
        <li id="students"><a routerLink="/student-union">Studentkåren</a></li>
        <li id="campus"><a routerLink="/campus">Campus</a></li>
        <li id="contact"><a routerLink="/contact">Kontakta oss</a></li>
    </ul>
</div>

<div id="campus-text">
    <h1>Björks campus</h1>
    <p><strong>Kliv ut från föreläsningen och in i den grönskande naturen du möts av på campus. 
        Här omfamnas du av en atmosfär av möjligheter, utforskning och tid för att fylla på med energi igen.
    </strong> <br>
      <br>
      Vårt campus är stort med plats för att studera, ta en fika, möta upp andra studenter 
      eller bara ta en skön promenad i den friska luften. Med närhet till tåg- och
      bussförbindelser, matbutik och Björks Café kan du enkelt välja vad som passar bäst 
      för stunden. <br>
      <br>
      Som student på Björks har du studentrabatter på alla närliggande butiker och caféer i området, 
      och tack vare bra transportförbindelser kan du enkelt åka till och från skolan flera gånger 
      om dagen. <br>
      <br>
      Många av våra studenter uppskattar vårt väl omhändertagna och mysiga campus, 
      då det bidrar till en hälsosam och aktiv skolmiljö samt ett centrum för gemenskap. 
          
    </p>
</div>
    </div>
