<footer>
  <ul class="links">
      <li><i class="fa-brands fa-facebook"></i> Facebook</li>
      <li><i class="fa-brands fa-instagram"></i> Instagram</li>
      <li><i class="fa-brands fa-twitter"></i> Twitter</li>
      <li><i class="fa-brands fa-youtube"></i> Youtube</li>
  </ul>
  <ul class="school-info">
      <li>Björks universitet</li>
      <li>Björkgatan 15</li>
      <li>876 15 Skogslandet</li>
  </ul>
  <ul class="contact-info">
      <li><i class="fa-solid fa-envelope"></i> E-post: bjorksadmin&#64;hittepa.se</li>
      <li><i class="fa-solid fa-phone"></i> Telefon: 012 - 123 456</li>
  </ul>
</footer>
