footer {
    background-color: #585858;
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    flex-shrink: 0;
    color: white;
}


.school-info li, .contact-info li, .links li {
    list-style-type: none;
    text-align: center;
    line-height: 1.8rem;
    margin-top: 8px;
}

// Media queries

@media only screen and (max-width: 600px) {
    footer {
        flex-direction: column;
        height: 500px;
    }
    
    footer li {
        align-items: center;
        margin-right: 10%;
    }
}